<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Desiem.MicroMvvm" version="1.0.3" targetFramework="net452" />
  <package id="DeveloperInTheFlow.Nini" version="1.1.0.1" targetFramework="net452" />
  <package id="ModernUI.WPF" version="1.0.9" targetFramework="net452" />
  <package id="MvvmFoundation.Wpf" version="1.0.0" targetFramework="net452" />
  <package id="Unity" version="5.6.0" targetFramework="net452" />
</packages>